

/* All list resets */

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

/* Header Start */

header {
    background-color: #e2bac0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    margin-left: 2%;
}

header ul {
    margin-right: 2%;
}

header ul li {
    margin: 20px;
      
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: white;
}

/* Header End */

main {
    margin-left: 2%;
    margin-right: 2%;
}

/* Profile Start */

#profile {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 25%;
    background-color: #fadace;
    padding: 20px 10px 10px 20px;
    border: solid 5px #fadace;
    border-radius: 10px;
    margin-bottom: 20px;
}

#profile img {
    width: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 5ps;
    border-radius: 10px;
}

/* Profile End */

/* Work Start */

#work {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    position: absolute;
    top: 10%;
    
}

#work h3 {
    text-align: center;
}



#work #list-section {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 
}

#work #list-section .list {
    width: 45%;
    flex: 0 0 auto;
    margin: 20px;
    position: relative;
    
}

#work #list-section .list a img {
   width: 100%;
   height: 75%;
   object-fit: cover;
   border: 5px;
   border-radius: 10px;
   
    
}

/* .overlay {
    display: block;
    background-color:	#adbdd1;
    Position: absolute;
} */

#work #list-section .list a:hover {
    opacity: 50%

    
}




/* Work End */

/* Contact Start */

#contact {
    background-color: #e2bac0;
    width: 25%;
    padding: 0px 10px 10px 20px;
    border: solid 5px #e2bac0;
    border-radius: 10px;
}

#contact .links a {
    display: block;
    margin: 10px 0px 10px 0px;
}

/* Contact End */